In [1]:
# All the import 
import numpy as np
import pandas as pd

In [2]:
# read files
data = pd.read_csv("owid-covid-data.csv")

In [3]:
# print(data.columns)
data.tail()
# Basic information about all the columns of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244338 entries, 0 to 244337
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    244338 non-null  object
 1   continent                                   230599 non-null  object
 2   location                                    244338 non-null  object
 3   date                                        244338 non-null  object
 4   total_cases                                 230319 non-null  float64
 5   new_cases                                   230041 non-null  float64
 6   new_cases_smoothed                          228842 non-null  float64
 7   total_deaths                                210886 non-null  float64
 8   new_deaths                                  210803 non-null  float64
 9   new_deaths_smoothed                         209617 non-null  float64
 10  total_cases_per_million                     229270 non-null  float64
 11  new_cases_per_million                       228992 non-null  float64
 12  new_cases_smoothed_per_million              227798 non-null  float64
 13  total_deaths_per_million                    209850 non-null  float64
 14  new_deaths_per_million                      209767 non-null  float64
 15  new_deaths_smoothed_per_million             208586 non-null  float64
 16  reproduction_rate                           181892 non-null  float64
 17  icu_patients                                32991 non-null   float64
 18  icu_patients_per_million                    32991 non-null   float64
 19  hosp_patients                               35986 non-null   float64
 20  hosp_patients_per_million                   35986 non-null   float64
 21  weekly_icu_admissions                       8203 non-null    float64
 22  weekly_icu_admissions_per_million           8203 non-null    float64
 23  weekly_hosp_admissions                      19593 non-null   float64
 24  weekly_hosp_admissions_per_million          19593 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          69311 non-null   float64
 35  people_vaccinated                           66265 non-null   float64
 36  people_fully_vaccinated                     63632 non-null   float64
 37  total_boosters                              38415 non-null   float64
 38  new_vaccinations                            57471 non-null   float64
 39  new_vaccinations_smoothed                   145004 non-null  float64
 40  total_vaccinations_per_hundred              69311 non-null   float64
 41  people_vaccinated_per_hundred               66265 non-null   float64
 42  people_fully_vaccinated_per_hundred         63632 non-null   float64
 43  total_boosters_per_hundred                  38415 non-null   float64
 44  new_vaccinations_smoothed_per_million       145004 non-null  float64
 45  new_people_vaccinated_smoothed              144756 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  144756 non-null  float64
 47  stringency_index                            181089 non-null  float64
 48  population_density                          212874 non-null  float64
 49  median_age                                  196906 non-null  float64
 50  aged_65_older                               194829 non-null  float64
 51  aged_70_older                               195876 non-null  float64
 52  gdp_per_capita                              196459 non-null  float64
 53  extreme_poverty                             127990 non-null  float64
 54  cardiovasc_death_rate                       196345 non-null  float64
 55  diabetes_prevalence                         206578 non-null  float64
 56  female_smokers                              148848 non-null  float64
 57  male_smokers                                146811 non-null  float64
 58  handwashing_facilities                      96754 non-null   float64
 59  hospital_beds_per_thousand                  174942 non-null  float64
 60  life_expectancy                             224150 non-null  float64
 61  human_development_index                     191772 non-null  float64
 62  population                                  243289 non-null  float64
 63  excess_mortality_cumulative_absolute        8215 non-null    float64
 64  excess_mortality_cumulative                 8215 non-null    float64
 65  excess_mortality                            8254 non-null    float64
 66  excess_mortality_cumulative_per_million     8215 non-null    float64
dtypes: float64(62), object(5)
memory usage: 124.9+ MB

In [4]:
data_2 = pd.read_csv("world-happiness-report-2021.csv")
data_2['Regional_indicator'] = data_2['Regional indicator']
data_2['Regional_indicator']

0          Western Europe
1          Western Europe
2          Western Europe
3          Western Europe
4          Western Europe
              ...
144    Sub-Saharan Africa
145    Sub-Saharan Africa
146    Sub-Saharan Africa
147    Sub-Saharan Africa
148            South Asia
Name: Regional_indicator, Length: 149, dtype: object

In [5]:
data_2 = data_2.set_index('Country name')

In [6]:
df = data.join(data_2, on="location")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Regional_indicator
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,South Asia
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,South Asia
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,South Asia
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,South Asia
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,South Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244333,ZWE,Africa,Zimbabwe,2022-12-17,259356.0,0.0,0.000,5622.0,0.0,0.000,...,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205,Sub-Saharan Africa
244334,ZWE,Africa,Zimbabwe,2022-12-18,259356.0,0.0,0.000,5622.0,0.0,0.000,...,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205,Sub-Saharan Africa
244335,ZWE,Africa,Zimbabwe,2022-12-19,259356.0,0.0,0.000,5622.0,0.0,0.000,...,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205,Sub-Saharan Africa
244336,ZWE,Africa,Zimbabwe,2022-12-20,259981.0,625.0,89.286,5637.0,15.0,2.143,...,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205,Sub-Saharan Africa
244337,ZWE,Africa,Zimbabwe,2022-12-21,259981.0,NaN,NaN,5637.0,NaN,NaN,...,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205,Sub-Saharan Africa

In [7]:
df['Regional indicator']

0                 South Asia
1                 South Asia
2                 South Asia
3                 South Asia
4                 South Asia
                 ...
244333    Sub-Saharan Africa
244334    Sub-Saharan Africa
244335    Sub-Saharan Africa
244336    Sub-Saharan Africa
244337    Sub-Saharan Africa
Name: Regional indicator, Length: 244338, dtype: object

In [8]:
df = df[df['continent'] == 'Asia'] 
df['date'] = pd.to_datetime(df['date'] )
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month

<ipython-input-8-8720665a996c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'] )
<ipython-input-8-8720665a996c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.DatetimeIndex(df['date']).year
<ipython-input-8-8720665a996c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = pd.DatetimeIndex(df['date']).month

In [56]:
df.loc[df['location']=='Bhutan','Regional_indicator'] = 'South Asia'
df.loc[df['location']=='Brunei','Regional_indicator'] = 'Southeast Asia'
df.loc[df['location']=='Timor','Regional_indicator'] = 'Southeast Asia'
df.loc[df['location']=='Hong Kong','Regional_indicator'] = 'East Asia'
df.loc[df['location']=='Macao','Regional_indicator'] = 'East Asia'
df.loc[df['location']=='Taiwan','Regional_indicator'] = 'East Asia'
df.loc[df['location']=='North Korea','Regional_indicator'] = 'East Asia'
df.loc[df['location']=='Syria','Regional_indicator'] = 'Middle East and North Africa'
df.loc[df['location']=='Northern Cyprus','Regional_indicator_'] = 'Middle East and North Africa'
df.loc[df['location']=='Oman','Regional_indicator'] = 'Middle East and North Africa'
df.loc[df['location']=='Palestine','Regional_indicator'] = 'Middle East and North Africa'

C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
df['Regional_indicator_id'] = df.groupby(['Regional_indicator']).ngroup()

C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)

In [65]:
# df['region'] = 
df.loc[df['Regional_indicator_id']==3, 'region'] = 'SA'
df.loc[df['Regional_indicator_id']==2, 'region'] = 'ME'
df.loc[df['Regional_indicator_id']==1, 'region'] = 'EA'
df.loc[df['Regional_indicator_id']==4, 'region'] = 'SEA'
df.loc[df['Regional_indicator_id']==0, 'region'] = 'CWIS'

df.head(6000)

C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Regional_indicator,year,month,Regional_indicator_id,region,Regional_indicator_
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,0.0,0.122,0.01,1.895,South Asia,2020,2,3,SA,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.122,0.01,1.895,South Asia,2020,2,3,SA,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.122,0.01,1.895,South Asia,2020,2,3,SA,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.122,0.01,1.895,South Asia,2020,2,3,SA,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.122,0.01,1.895,South Asia,2020,2,3,SA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25526,BTN,Asia,Bhutan,2022-06-17,59644.0,0.0,1.143,21.0,0.0,0.0,...,NaN,NaN,NaN,NaN,South Asia,2022,6,3,SA,NaN
25527,BTN,Asia,Bhutan,2022-06-18,59644.0,0.0,1.143,21.0,0.0,0.0,...,NaN,NaN,NaN,NaN,South Asia,2022,6,3,SA,NaN
25528,BTN,Asia,Bhutan,2022-06-19,59644.0,0.0,1.143,21.0,0.0,0.0,...,NaN,NaN,NaN,NaN,South Asia,2022,6,3,SA,NaN
25529,BTN,Asia,Bhutan,2022-06-20,59674.0,30.0,4.286,21.0,0.0,0.0,...,NaN,NaN,NaN,NaN,South Asia,2022,6,3,SA,NaN
25530,BTN,Asia,Bhutan,2022-06-21,59674.0,0.0,4.286,21.0,0.0,0.0,...,NaN,NaN,NaN,NaN,South Asia,2022,6,3,SA,NaN

In [66]:
df_grouped = df.groupby(by=['Regional_indicator','Regional_indicator_id','location']).agg({'region':'max','total_cases':'max','population':'max','aged_65_older':'max'}) 
df_grouped = df_grouped.reset_index()
df_grouped['total_cases_share'] = df_grouped['total_cases']/df_grouped['population'] * 100
df_grouped = df_grouped.sort_values(by=["total_cases"], ascending=False).reset_index(drop=True)
# df_grouped_top = df_grouped[0:10]
locations = df_grouped['location']
df_grouped = df_grouped.dropna()
df_grouped

,Regional_indicator,Regional_indicator_id,location,region,total_cases,population,aged_65_older,total_cases_share
0,South Asia,3,India,SA,44677739.0,1.417173e+09,5.989,3.152596
1,East Asia,1,South Korea,EA,28466390.0,5.181581e+07,13.914,54.937655
2,East Asia,1,Japan,EA,27603549.0,1.239517e+08,27.049,22.269602
3,Middle East and North Africa,2,Turkey,ME,16919638.0,8.534125e+07,8.153,19.825862
4,Southeast Asia,4,Vietnam,SEA,11523567.0,9.818686e+07,7.150,11.736364
6,Middle East and North Africa,2,Iran,ME,7560629.0,8.855057e+07,5.440,8.538205
7,Southeast Asia,4,Indonesia,SEA,6712826.0,2.755013e+08,5.319,2.436586
8,Southeast Asia,4,Malaysia,SEA,5020384.0,3.393822e+07,6.293,14.792716
9,Middle East and North Africa,2,Israel,ME,4752447.0,9.449000e+06,11.733,50.295767
10,Southeast Asia,4,Thailand,SEA,4718908.0,7.169702e+07,11.373,6.581735
11,Southeast Asia,4,Philippines,SEA,4058465.0,1.155590e+08,4.803,3.512028
12,Middle East and North Africa,2,Iraq,ME,2465107.0,4.449612e+07,3.186,5.540049
13,East Asia,1,Hong Kong,EA,2402238.0,7.488863e+06,16.303,32.077473
14,Southeast Asia,4,Singapore,SEA,2192690.0,5.637022e+06,12.922,38.898021
15,South Asia,3,Bangladesh,SA,2036987.0,1.711864e+08,5.098,1.189924
16,East Asia,1,China,EA,1909905.0,1.425887e+09,10.641,0.133945
17,Commonwealth of Independent States,0,Georgia,CWIS,1808085.0,3.744385e+06,14.864,48.287903
18,Middle East and North Africa,2,Jordan,ME,1746997.0,1.128588e+07,3.810,15.479500
19,South Asia,3,Pakistan,SA,1575486.0,2.358249e+08,4.495,0.668075
20,Commonwealth of Independent States,0,Kazakhstan,CWIS,1488306.0,1.939800e+07,6.991,7.672472
21,Middle East and North Africa,2,Lebanon,ME,1221791.0,5.489744e+06,8.514,22.255883
22,Middle East and North Africa,2,United Arab Emirates,ME,1046359.0,9.441138e+06,1.144,11.082975
23,East Asia,1,Mongolia,EA,1007250.0,3.398373e+06,4.031,29.639183
24,South Asia,3,Nepal,SA,1000961.0,3.054759e+07,5.809,3.276727
25,Middle East and North Africa,2,Saudi Arabia,ME,826667.0,3.640882e+07,3.295,2.270513
26,Commonwealth of Independent States,0,Azerbaijan,CWIS,825656.0,1.035808e+07,6.018,7.971131
27,Middle East and North Africa,2,Palestine,ME,703228.0,5.250076e+06,3.043,13.394625
28,Middle East and North Africa,2,Bahrain,ME,698028.0,1.472237e+06,2.372,47.412747
29,South Asia,3,Sri Lanka,SA,671831.0,2.183215e+07,10.069,3.077255
30,Middle East and North Africa,2,Kuwait,ME,662747.0,4.268886e+06,2.345,15.525057
31,Southeast Asia,4,Myanmar,SEA,633585.0,5.417931e+07,5.732,1.169422
32,Commonwealth of Independent States,0,Armenia,CWIS,445881.0,2.780472e+06,11.232,16.036162
33,Middle East and North Africa,2,Oman,ME,399154.0,4.576300e+06,2.355,8.722199
34,Southeast Asia,4,Brunei,SEA,266819.0,4.490020e+05,4.591,59.424902
35,Commonwealth of Independent States,0,Uzbekistan,CWIS,249045.0,3.462765e+07,4.469,0.719209
36,Southeast Asia,4,Laos,SEA,217586.0,7.529477e+06,4.029,2.889789
37,South Asia,3,Afghanistan,SA,207190.0,4.112877e+07,2.581,0.503759
38,Commonwealth of Independent States,0,Kyrgyzstan,CWIS,206557.0,6.630621e+06,4.489,3.115198
39,South Asia,3,Maldives,SA,185666.0,5.237980e+05,4.120,35.446107
40,Southeast Asia,4,Cambodia,SEA,138457.0,1.676785e+07,4.412,0.825729
41,South Asia,3,Bhutan,SA,62524.0,7.824570e+05,4.885,7.990727
43,Southeast Asia,4,Timor,SEA,23386.0,1.341298e+06,3.556,1.743535
44,Commonwealth of Independent States,0,Tajikistan,CWIS,17786.0,9.952789e+06,3.466,0.178704
45,Middle East and North Africa,2,Yemen,ME,11945.0,3.369661e+07,2.922,0.035449
46,East Asia,1,Macao,EA,1569.0,6.951800e+05,9.798,0.225697
47,East Asia,1,North Korea,EA,1.0,2.606942e+07,9.491,0.000004

In [67]:
df_grouped.to_csv(r'C:\Users\Kozy-Korpesh\Desktop\unige 2 course\dv\final Urwa\data\scatter_data.csv',index=False,header=True)